@tailwind base;
@tailwind components;
@tailwind utilities;

@media print {
    html,
    body {
        display: none;
    }
}

html {
    scroll-behavior: smooth;

}

body {
    user-select: none;
}

.card-shadow {
    -webkit-box-shadow: 2px 2px 23px -8px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 2px 2px 23px -8px rgba(0, 0, 0, 0.75);
    box-shadow: 2px 2px 23px -8px rgba(36, 36, 36, 0.365);
}

table {
    border-spacing: 1;
    border-collapse: collapse;
    background: white;
    border-radius: 5px;
    border: 2px solid var(--pima-red);
    overflow: hidden;
    width: 100%;
    margin: 0 auto;
    position: relative;
    font-family: var(--font-family-2);
}

th,
td {
    padding: 15px;
    text-align: left;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tbody tr:hover {
    cursor: pointer;
    background-color: rgb(230, 230, 230);
}

thead tr {
    height: 60px;
    background: var(--pima-red);
    font-size: 1.2rem;
    color: #ffff;
}

tbody tr {
    height: 48px;
    border-bottom: 1px solid #e3f1d5;
}

tbody tr:last-child {
    border: 0;
}

.cardDiv {
    -webkit-box-shadow: 0px 0px 6px -8px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 0px 6px -8px rgba(0, 0, 0, 1);
    box-shadow: 0px 0px 6px -8px rgba(0, 0, 0, 1);
}

.cardDiv:hover {
    -webkit-box-shadow: 10px 10px 30px -15px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 10px 10px 30px -15px rgba(0, 0, 0, 0.2);
    box-shadow: 10px 10px 30px -15px rgba(0, 0, 0, 0.2);
    transform: translateY(-2px);
}

.grad:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(
        to top,
        transparent 0%,
        rgba(0, 0, 0, 0.534) 100%
    );
}

/* ::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    display: none;
} */
